*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Serif', serif;
}

html { 
    scroll-behavior: smooth;
}

body{
    background-color: #081b29;
    color: #ededed;
}

/* Nav section */

.header{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    padding: 5px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
}

.navbar a{
    font-weight: 500;
    text-decoration: none;
    font-size: 1.125rem;
    margin-left: 2.1875rem;
    color: #ededed;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active{
    color:#00abf0;
}

.home{
    height:100vh;
    display:flex;
    align-items: center;
    padding: 0 10%;
}

.home-content{
    max-width: 37.5rem;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content p{
    font-size: 16px;
    margin: 20px 0px 40px;
}

.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a{
    width:150px;
    height: 100%;
    background: #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    font-weight: 600;
    letter-spacing: 1px;
    gap: 5px;
}

.btn-box a, .home-sci a {
    position:relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #00abf0;
}

.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;
}
/* the button words should turn the opposite color when hovered*/
.btn-box a:nth-child(2):hover{
    color: #081b29;
}
.btn-box a:nth-child(2)::before{
    background: #00abf0;
}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width:0;
    height:100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}
.btn-box{
    text-align: center;
    padding-top: 5px;
}

.home-sci{
    position: absolute;
    bottom: 40px;
    width:170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 50%;
    font-size: 20px;
    color:#00abf0;
}

.home-sci a:hover {
    color: #081b29;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width:0;
    height:100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width:100%;
}

.heading-section {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

/* I still havent got the media query to work properly : affects devices 768px below */

/* About me section */

body {
    font-family: 'Roboto Serif', serif;
    margin: 0;
}
html {
    box-sizing: border-box;
} 
  *, *:before, *:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.about-section {
    padding: 50px;
    text-align: center;
    color: white;
}

.container {
    padding: 0 16px;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button a {
    outline: 0;
    display: inline-block;
    padding: 8px;
    background: #00abf0;
    border: 2px solid #00abf0;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    border-radius: 8px;
    color: #081b29;
    text-decoration:none;
    }
    
    .button a:hover {
    color:#00abf0;
    background: #081b29;
}

@media screen and (max-width: 650px) {
    .column {
    width: 100%;
    display: block;
    }
}
.about-section .column .card img {
    object-fit: contain;
}

h2.Facts {
    text-align: center;
}

#about .container-about h2 {
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
    margin-bottom: 10px;
}
/* contact me section */

section#contact-me {
    margin-top: 50px;
}

.container-footer {
    height: 600px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0 auto;
    padding: 50px;
    flex-wrap: wrap;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #00abf0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid #00abf0;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    border-radius: 8px;
    color: #081b29;
} 
input[type=submit]:hover {
    background-color: #081b29;
    color: #00abf0;
}

.form-contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    color: #081b29;
}

.contact-container {
    background-color: #fff;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #081b29;
}

.contact-me .container-footer .contact-right .contact-container > h2 {
    text-align: center;
}

.contact-info {
    margin-top: 20px;
}

.contact-info p {
    margin: 10px 0;
}

.contact-left, .contact-right {
    flex: 1;
    height: 100%; /* Make both sections the same height */
    padding: 20px; /* Add padding to separate content from the edges */
}

h2.project-title, h3.project-subtitle  {
    color: #ededed;
    text-align: center;
}

/* *************************************************************** */
/* changes added to test for responsiveness */
@media screen and (max-width: 831px) {
    .navbar a {
        font-weight: 500;
        text-decoration: none;
        font-size: 1.125rem;
        margin-left: 2rem;
        color: #ededed;
        transition: .3s;
    }
}
@media screen and (max-width:493px){
    .container-footer{
        height: 300px;
    }
}

@media screen and (max-width:364px){
    .container-footer{
        height: 325px;
    }
}

@media  screen and (min-width:364px) and (max-width:373px){
    .container-footer{
        height: 315px;
    }
}
@media screen and (max-width: 468px){
    .btn-box a, .home-sci a {
        margin-top: 5px;
    }
}

@media screen and (min-width: 769px) and (max-width: 811px) {
    .navbar a {
        font-weight: 500;
        text-decoration: none;
        font-size: 1.125rem;
        margin-left: 1.4rem;
        color: #ededed;
        transition: .3s;
    }
}

@media screen and (max-width: 768px) {
    .navbar a {
        font-size: 0.9rem;
        margin-left: 1rem;
    }

    .btn-box{
        padding-top: 10px;
    }
}

@media screen and (max-width: 768px) {
    .home-content h1 {
        font-size: 40px; 
    }

    .home-content h3 {
        font-size: 24px; 
    }

    .home-content p {
        font-size: 14px; 
    }
}

@media screen and (max-width: 768px) {
    .btn-box a, .home-sci a {
        height: 35px; 
        font-size: 16px; 
    }

    .contact-left, .contact-right {
        flex: 1;
        /* height: 100%; */
        padding: 20px;
    }
}

@media screen and (max-width: 650px) {
    .about-section {
        padding: 30px; 
    }

    .about-section h2, .about-section p {
        font-size: 14px; 
    }

    .card {
        padding: 15px; 
    }
}

@media screen and (max-width: 768px) {
    .contact-container, .form-contact {
        padding: 15px; 
    }

    .contact-info p {
        font-size: 14px; 
    }
}

.hamburger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: #fff; 
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .hamburger {
        transition: transform 0.3s ease;
        display: block;
    }

    .navbar {
        display: none; 
        flex-direction: column;
        width: 100%;
        transform: translateY(-100%); 
        opacity: 0;
        transition: transform 0.5s ease, opacity 0.5s ease; 
        display: flex; 
        flex-direction: column;
    }

    .navbar a {
        display: block;
        text-align: right;
        padding: 8px 16px;
    }

    .hamburger.active {
        transform: rotate(90deg); 
    }

    .navbar.active {
        transform: translateY(0); 
        opacity: 1; 
    }
}

.card img {
    max-width: 100%; 
    height: auto;
}

/* project section */

.project-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.project-image, .project-info {
    flex: 1;
    margin: 10px;
}

.project-image img {
    width: 100%; 
    height: auto;
    border-radius: 10px; 
}

.project-info {
    color: #00abf0;
    background-color: #081b29;
    padding: 5rem 2rem;
    border-radius: 12px;
    box-shadow: 0 0 20px #FFFFFF;
}

.project-info h3 {
    margin-top: 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .project-container {
        flex-direction: column;
    }
}





